.chat
  .chat_header
    .left_chat_header
      .chat-group-name
        =@group.name
      .chat-group-message
        Member:
        -@group.users.each do|user|
          =user.name
    .right_chat_header
      =link_to edit_group_path(@group) do 
        Edit
  .chat_body
    .messages
      = render partial: 'message', collection: @messages
    -# .chat_body_person
    -# .person-message
  .chat_form
    .chat-form__input
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'